:root {
  --Light-shades: #ffe4b2;
  --Light-accent: #81a4f8;
  --Main-brand-color: #e07795;
  --Dark-accent: #7e6242;
  --Dark-accent-2: #634a2e;
  --Dark-shades: #455c46;
  --Cream-color: #ffe4b2;
  --Leaf-color: #a2cea8;
  --Salmon-pink: #eb8099;
  /* rgb */
  --Light-shades-rgb: 252, 255, 255;
  --Light-accent-rgb: 129, 164, 248;
  --Main-brand-rgb: 224, 119, 149;
  --Dark-accent-rgb: 126, 98, 66;
  --Dark-accent-2-rgb: 126, 98, 66;
  --Dark-shades-rgb: 69, 92, 70;
  --Cream-color-rgb: 255, 228, 178;
  /* FONTS
    font-family: 'Farsan', cursive;
    font-family: 'Fredericka the Great', cursive;
    font-family: 'Patrick Hand SC', cursive;
    font-family: 'Suez One', serif;  
  */
}

* {
  padding: 0;
  margin: 0;
}

body {
  min-height: 100dvh;
  background-color: var(--Cream-color);
  position: relative;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: 7em;
  background-color: var(--Dark-shades);
  margin-bottom: 7em;
}

header h1 {
  font-family: "Fredericka the Great", cursive;
  font-size: 60px;
  margin-left: 2rem;
  color: var(--Salmon-pink);
  text-shadow: 5px 5px 1px rgba(var(--Light-accent-rgb), 0.5);
}

.logo {
  margin-right: 2em;
}

.logo img {
  height: 105px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.title h1 {
  color: var(--Light-accent);
  font-family: "Suez One", serif;
  letter-spacing: 3px;
}

.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--Dark-accent-2);
  padding: 2rem;
  border-radius: 0.5rem;
  /* estudiar luego */
  /* -webkit-box-shadow: 25px 25px 35px -7px rgba(99,74,46,1);
  -moz-box-shadow: 25px 25px 35px -7px rgba(99,74,46,1); */
  box-shadow: 25px 25px 35px -7px rgba(99, 74, 46, 0.75);
}

.container > * {
  margin-bottom: 1em;
}

.container select {
  border-color: var(--Light-shades);
  color: rgba(var(--Light-shades-rgb), 0.5);
  background-color: transparent;
  outline: none;
  width: 100%;
  padding: 0.5rem 1rem 0.5rem;
  border-radius: 0.5rem;
  font-family: "Farsan";
  font-size: 1.2rem;
  text-transform: uppercase;
  /* text-align: center; */
}

.container select:focus {
  outline: 1px solid white;
  color: var(--Cream-color);
}

/* added */
.container select option {
  color: var(--Dark-accent);
  text-transform: lowercase;
}

.textContainer {
  display: flex;
  gap: 2.5em;
}

.textContainer section textarea {
  border-color: var(--Cream-color);
  border-radius: 0.5rem;
  background-color: transparent;
  outline: none;
  padding: 1rem;
  resize: none;
  font-family: "Patrick Hand SC", cursive;
  font-size: 1.5rem;
  /* color: var(--Light-shades); */
  color: black;
  box-shadow: inset 0 0 1px white;
  transition: 0.5s;
}

.textContainer section textarea:focus,
.textContainer section textarea:not(:placeholder-shown) {
  outline: 1px solid white;
  box-shadow: inset 0 0 100px 200px rgb(255, 241, 229);
}

section textarea::placeholder {
  color: rgb(var(--Light-shades-rgb), 0.3);
  padding: 35% 0;
  text-align: center;
}

/* .textContainer section textarea:focus::placeholder {
  opacity: 0;
} */

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.wrapper button {
  background-color: var(--Light-accent);
  color: var(--Light-shades);
  border: none;
  border-radius: 0.5em;
  padding: 1em 2em;
  width: 100%;
  cursor: pointer;
}

.btns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btns button {
  background: none;
  color: var(--Light-accent);
  cursor: pointer;
  padding: 0.5em 1.5em;
  margin: 0.5em 1.5em;
  text-transform: capitalize;
  border: 1px solid var(--Light-accent);
}

.btns button:nth-child(2) {
  color: var(--Main-brand-color);
  border: 1px solid var(--Main-brand-color);
}

footer {
  position: absolute;
  bottom: 0;
  background-color: var(--Dark-shades);
  width: 100%;
  height: 7em;
  display: flex;
  flex-direction: column;
}
