:root {
  --Light-shades: #f0f3ee;
  --Light-accent: #8ca0cd;
  --main-brand-color: #ec6e82;
  --Dark-accent: #c04a53;
  --Dark-shades: #263e55;
  /* 
  font-family: 'Pixelify Sans', cursive;
  font-family: 'Red Hat Display', sans-serif;
  font-family: 'Space Grotesk', sans-serif; 
  */
}

* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}

/* header */

header {
  background-color: var(--Dark-shades);
  padding: 1rem;
  text-transform: uppercase;
  text-align: center;
  color: var(--Light-shades);
  font-family: "Pixelify Sans", cursive;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

/* main */

main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--Light-shades);
  font-family: "Red Hat Display", sans-serif;
}

.container {
  display: grid;
  gap: 1rem;
  background-color: var(--Dark-shades);
  padding: 2rem;
  border-radius: 0.3rem;
  width: 45%;
  box-shadow: 25px 25px 35px -7px rgba(99, 74, 46, 0.75);
}

.error {
  color: var(--main-brand-color);
}

.error i {
  margin: 0 1em;
}

.container select {
  padding: 0.5rem;
  font-size: 1.5rem;
  border-radius: 1.3rem;
  outline: none;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.wrapper section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 1rem;
}
.wrapper section textarea {
  width: 100%;
  resize: none;
  outline: none;
  font-size: 1.2rem;
  padding: 1rem;
}

.wrapper section textarea::placeholder {
  text-transform: uppercase;
}

.pasteBtn,
.copyBtn,
.clearBtn {
  background-color: transparent;
  border: 1px solid;
  padding: 0.3em 1.5em;
  border-radius: 0.2em;
  cursor: pointer;
  text-transform: capitalize;
  color: var(--Light-accent);
  font-size: 1.2rem;
  margin: 1rem 0;
}

.clearBtn {
  border-color: var(--main-brand-color);
  color: var(--main-brand-color);
}

.submitBtn {
  background-color: var(--Light-accent);
  color: white;
  border: none;
  border-radius: 0.5em;
  padding: 0.8rem;
  cursor: pointer;
  font-size: 1.5rem;
  text-transform: uppercase;
  order: 4;
}

/* footer */

footer {
  display: grid;
  justify-content: center;
  text-align: center;
  background-color: var(--Dark-shades);
  font-family: "Space Grotesk", sans-serif;
}

.social ul {
  display: flex;
  list-style: none;
  gap: 4rem;
  padding: 0.5rem;
  margin: 1rem 0;
}

.links a {
  font-size: 1.2rem;
  text-decoration: none;
  position: relative;
  transition: 0.2s;
  display: inline-block;
  color: var(--Light-shades);
}

.links:hover a {
  scale: 1.2;
  color: var(--main-brand-color);
}

.links:hover i {
  color: var(--Light-shades);
}

.links a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 50%;
  bottom: -2.5px;
  background-color: var(--Light-shades);
  transition: 0.3s ease-in-out;
}

.links:hover a::after {
  width: 100%;
  left: 0;
}

.links:hover a::after {
  width: 100%;
  left: 0;
}

.links i {
  font-size: 1.5rem;
  padding: 0.5rem;
  color: var(--Light-accent);
}

.copyright small {
  text-transform: uppercase;
  color: var(--Light-shades);
  opacity: 0.5;
}

.copyright i,
span {
  margin: 0 0.1rem;
}

.copyright span {
  color: var(--Light-accent);
}

@media screen and (max-width: 1060px) {
  .container {
    width: 80%;
    border-radius: 0;
  }
}

@media screen and (max-width: 650px) {
  .container {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }

  .container select {
    max-height: 3rem;
    text-align: center;
    border-radius: 0;
  }

  .error {
    display: flex;
  }

  .container .wrapper {
    grid-template-columns: 1fr;
  }

  .submitBtn {
    border-radius: 0;
    order: 0;
  }

  .social ul {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }

  .links a {
    display: inline-flex;
    align-items: center;
  }

  .links i {
    font-size: 1rem;
  }
}
